---
import { Image } from "astro:assets";
import Woman1 from "../assets/hero/woman1.png";
import Woman2 from "../assets/hero/woman2.png";
import Woman3 from "../assets/hero/woman3.png";
import Group from "../assets/hero/group.png";
import Layer1 from "../assets/hero/layer1.png";
import Layer2 from "../assets/hero/layer2.png";
import Hand from "../assets/hero/hand.png";
import Escala from "../assets/hero/escala.png";
import Megaphone from "../assets/hero/megaphone.png";
---

<section
  id="hero-section"
  class="relative flex min-h-svh flex-col items-center"
>
  <h1
    class="mt-5 text-center font-display text-7xl font-bold text-[#141392] lg:text-8xl"
  >
    <span class="block">Change</span>
    <span class="block">that lasts</span>
  </h1>
  <span class="mt-5 font-display text-xl text-[#E91E78]"
    >40 YEARS OF IMPACT</span
  >
  <div class="mx-auto mt-20 w-full max-w-4xl px-10 lg:px-0">
    <div class="wrapper relative mx-auto max-w-[90%] lg:max-w-[80%]">
      <div
        class="absolute left-[-5%] top-[-30%] hidden h-[90px] w-[90px] rounded-full bg-[#E91E78] lg:block"
      >
        <Image src={Hand} alt="" class="absolute bottom-0 left-0 w-[70px]" />
      </div>
      <div class="absolute right-[-5%] top-0 z-20 hidden w-[100px] lg:block">
        <Image src={Escala} alt="" class="absolute bottom-3" />
        <div class="mx-auto h-[80px] w-[80px] rounded-full bg-[#141392]"></div>
      </div>
      <svg
        id="sun"
        class="relative z-10"
        viewBox="0 0 950 475"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M949.207 475C949.207 737.059 736.766 949.5 474.707 949.5C212.648 949.5 0.207031 737.059 0.207031 475C0.207031 212.941 212.648 0.5 474.707 0.5C736.766 0.5 949.207 212.941 949.207 475Z"
          fill="#FDB813"></path>
      </svg>
      <svg
        class="absolute bottom-[80%] right-[-15%] z-0 hidden w-[300px] lg:block"
        viewBox="0 0 470 379"
        fill="none"
      >
        <path
          d="M2.40628 378.49C1.30719 378.6 0.326996 377.798 0.216949 376.699C0.106903 375.6 0.908661 374.62 2.00772 374.51L2.40628 378.49ZM149.874 11C149.874 16.891 145.098 21.6667 139.207 21.6667C133.316 21.6667 128.54 16.891 128.54 11C128.54 5.10896 133.316 0.333333 139.207 0.333333C145.098 0.333333 149.874 5.10896 149.874 11ZM2.00772 374.51C192.931 355.393 314.404 323.017 384.867 285.353C420.091 266.526 442.411 246.459 454.357 226.219C466.262 206.047 467.938 185.586 461.656 165.664C455.351 145.67 440.987 126.103 420.611 107.97C400.247 89.8476 373.976 73.2447 344.037 59.1613C284.15 30.9904 209.8 13 139.207 13V9C210.421 9 285.35 27.1346 345.74 55.5418C375.939 69.7475 402.555 86.5469 423.27 104.982C443.972 123.405 458.876 143.549 465.471 164.461C472.088 185.445 470.294 207.085 457.801 228.252C445.349 249.35 422.343 269.857 386.753 288.881C315.588 326.92 193.484 359.357 2.40628 378.49L2.00772 374.51Z"
          fill="#E91E78"></path>
      </svg>

      <Image
        class="absolute left-[14%] top-[10px] z-10 w-[100px] lg:w-[200px]"
        src={Layer1}
        alt=""
      />
      <Image
        class="absolute bottom-[15%] right-[18%] z-10 w-[130px] lg:w-[300px]"
        src={Layer2}
        alt=""
      />
      <Image
        class="absolute bottom-0 right-[-25px] z-10 w-[170px] lg:right-[-50px] lg:w-[370px]"
        src={Group}
        alt=""
      />
      <div
        class="absolute bottom-[35%] left-3 z-10 hidden h-[80px] w-[80px] rounded-full bg-[#1FAAAC] lg:block"
      >
      </div>
      <Image
        class="absolute bottom-[-4px] left-0 z-10 w-[125px] lg:bottom-[-9px] lg:w-[250px]"
        src={Woman2}
        alt=""
      />

      <Image
        class="absolute bottom-0 left-0 right-0 z-10 mx-auto w-[200px] lg:w-[400px]"
        src={Woman1}
        alt=""
      />
      <Image
        class="absolute bottom-[-30px] left-[25%] z-10 w-[110px] lg:bottom-[-60px] lg:w-[220px]"
        src={Woman3}
        alt=""
      />
    </div>
    <div
      class="after::absolute relative h-[2px] w-full bg-[#141392] before:absolute before:top-[-3px] before:h-2 before:w-2 before:rounded-full before:bg-[#141392] after:absolute after:right-0 after:top-[-3px] after:h-2 after:w-2 after:rounded-full after:bg-[#141392]"
    >
    </div>
    <div class="relative mt-20 flex flex-col items-center justify-center">
      <div class="absolute bottom-[25%] left-[-50px] hidden lg:block">
        <Image
          src={Megaphone}
          alt="Megaphone"
          class="absolute bottom-[-20px] left-[10px] max-w-[150px]"
        />
        <div class="bottom-0 h-[100px] w-[100px] rounded-full bg-[#1FAAAC]">
        </div>
      </div>
      <h2
        class="text-center font-display text-3xl font-bold text-[#141392] lg:text-7xl"
      >
        Mama Cash began <br />
        with a visionary idea
      </h2>
      <span class="mt-5 font-display text-xl text-[#E91E78]">SOUND BOLD?</span>
      <p
        class="mt-5 max-w-prose text-center font-display leading-tight text-[#141392]"
      >
        Well, in 1983 a group of women got together and decided to make bold
        action the new normal. It wasn’t always easy, it wasn’t always popular.
        But here we are four decades later, Mama Cash is a pioneering force for
        gender equality, at the forefront of supporting women, girls, and trans
        and intersex people around the world, pushing past barriers and clearing
        the way for future generations.
      </p>
    </div>
  </div>
</section>

<style></style>

<script>
  import gsap from "gsap";

  const container = document.getElementById("hero-section");
  const sun = container.querySelector("#sun");

  gsap.to(sun, {
    scrollTrigger: {
      trigger: sun,
      start: "top center",
      end: "bottom center",
      scrub: true,
      // markers: true,
    },
    scale: 1.2,
    yPercent: -10,
  });
</script>
