---
import Overlayed from "../assets/overlayed.png";
import { Image } from "astro:assets";

const data = [
  {
    id: 1,
    title: "Community Impact",
    color: "#E91E78",
    textColor: "#ffffff",
    buttonColor: "#FDB813",
    buttonText: "#000000",
    points: [
      {
        title: "LBQTI",
        description:
          "Thanks to our support, people in over a dozen countries can now live a truer version of themselves.",
        url: "",
      },
      {
        title: "Sex Worker Rights",
        description:
          "Mama Cash knew it from day 1: sex workers’ rights are central to feminist issues.",
        url: "",
      },
      {
        title: "Disability Justice",
        description:
          "Mama Cash grantee-partners around the world are breaking down the stigma around disability.",
        url: "",
      },
      {
        title: "Racial Justice",
        description:
          "We brought the powerful voices of racialised women, girls, and trans and intersex people to the forefront",
        url: "",
      },
    ],
  },
  {
    id: 2,
    title: "Thematic Impact",
    color: "#1FAAAC",
    textColor: "#000000",
    buttonColor: "#FDB813",
    buttonText: "#000000",
    points: [
      {
        title: "Reproductive Justice",
        description:
          "Thanks to our support, people in over a dozen countries can now live a truer version of themselves.",
        url: "",
      },
      {
        title: "Countering Gender-Based Violence",
        description:
          "Mama Cash knew it from day 1: sex workers’ rights are central to feminist issues.",
        url: "",
      },
      {
        title: "Economic Justice",
        description:
          "Mama Cash grantee-partners around the world are breaking down the stigma around disability.",
        url: "",
      },
      {
        title: "Environmental Justice",
        description:
          "We brought the powerful voices of racialised women, girls, and trans and intersex people to the forefront",
        url: "",
      },
    ],
  },
  {
    id: 3,
    title: "Funding for Change",
    color: "#FDB813",
    textColor: "#000000",
    buttonColor: "#E91E78",
    buttonText: "#fafafa",
    points: [
      {
        title: "Relationship to Money",
        description:
          "Thanks to our support, people in over a dozen countries can now live a truer version of themselves.",
        url: "",
      },
      {
        title: "Feminist Funding Architecture",
        description:
          "Mama Cash knew it from day 1: sex workers’ rights are central to feminist issues.",
        url: "",
      },
    ],
  },
];
---

<section class="pt-20">
  <div class="mx-auto mb-12 max-w-5xl px-10 text-[#141392] lg:px-0">
    <h3 class="text-center text-3xl font-semibold lg:text-left lg:text-5xl">
      We Champion Intersectional <br /> Funding Worldwide
    </h3>
    <p class="mt-5 max-w-prose text-center leading-tight lg:text-left">
      Across borders, communities, issues, and identities, our grantee-partners
      have transformed the world we live in today. From lesbian rights to
      climate justice, our support has powered global change. Beyond funding, we
      reshape donor perspectives and work with movements to claim their rights.
    </p>
  </div>
  <div id="funding1">
    <div class="scroller-section">
      <div class="scroller-section-container mx-auto max-w-5xl px-5 lg:px-0">
        <div
          class="scroller grid gap-12 lg:w-[max-content] lg:auto-cols-auto lg:grid-flow-col"
        >
          {
            data.map((e) => (
              <div class="scroller-item font-display container mx-auto max-w-4xl lg:max-w-5xl">
                <div
                  style={`background: ${e.color};color: ${e.textColor}`}
                  class="h-full rounded-2xl p-5 lg:p-10"
                >
                  <div class="grid gap-10 lg:grid-cols-2">
                    <div class="flex flex-col">
                      <div class="flex flex-1 items-center">
                        <span
                          style={`border-color: ${e.buttonColor};color: ${e.buttonColor}`}
                          class="mr-5 flex h-12 w-12 shrink-0 items-center justify-center rounded-full border-[1px] border-[#FDB813] text-3xl text-[#FDB813] lg:h-16 lg:w-16 lg:text-5xl"
                        >
                          {e.id}
                        </span>
                        <h4 class="text-3xl font-bold lg:text-4xl">
                          {e.title}
                        </h4>
                      </div>
                      <Image class="mt-10" src={Overlayed} alt="" />
                    </div>
                    <div>
                      <ul
                        style={`--bg: ${e.buttonColor}`}
                        class="relative font-normal before:absolute before:left-[-3px] before:hidden before:h-2 before:w-2 before:rounded-full before:bg-[var(--bg)] lg:before:block"
                      >
                        {e.points.map((i) => (
                          <li
                            style={`border-color: ${e.buttonColor};`}
                            class="relative flex flex-col items-start border-b-[1px] border-[#FDB813] py-4 text-sm before:absolute before:bottom-[-4px] before:right-[-4px] before:h-2 before:w-2 before:rounded-full before:bg-[var(--bg)] after:absolute after:bottom-[-4px] after:left-[-4px] after:h-2 after:w-2 after:rounded-full after:bg-[var(--bg)] first:border-t-[0px] last:border-b-0 last:before:hidden last:after:hidden lg:flex-row lg:items-end lg:border-l-[1px] lg:px-5 lg:first:border-t-[0px] lg:last:after:block"
                          >
                            <div class="">
                              <span class="text-xl">{i.title}</span>
                              <p class="mt-2 text-sm">{i.description}</p>
                            </div>
                            <a
                              style={`background-color: ${e.buttonColor};color: ${e.buttonText}`}
                              href="#"
                              class="mt-5 flex items-center gap-2 rounded-2xl bg-[#FDB813] py-1 pl-4 pr-2 lg:mt-0"
                            >
                              <span class="flex-1 shrink-0 whitespace-nowrap text-xs font-medium">
                                Read more
                              </span>
                              <svg
                                fill={`${e.buttonText}`}
                                width="24"
                                height="24"
                                xmlns="http://www.w3.org/2000/svg"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                              >
                                <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 1c-6.071 0-11 4.929-11 11s4.929 11 11 11 11-4.929 11-11-4.929-11-11-11zm4.828 11.5l-4.608 3.763.679.737 6.101-5-6.112-5-.666.753 4.604 3.747h-11.826v1h11.828z" />
                              </svg>
                            </a>
                          </li>
                        ))}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";

  const wrapperRef = document.getElementById("funding1");

  const wrapper = wrapperRef.querySelector(".scroller-section") as HTMLElement;
  const container = wrapperRef.querySelector(
    ".scroller-section-container",
  ) as HTMLElement;
  const scroller = wrapperRef.querySelector(".scroller") as HTMLElement;
  const item = wrapperRef.querySelector(".scroller-item") as HTMLElement;

  let mm = gsap.matchMedia();

  mm.add("(min-width: 1024px)", () => {
    gsap.to(scroller, {
      x: -(
        scroller.offsetWidth -
        wrapper.offsetWidth +
        (window.innerWidth - item.offsetWidth)
      ),
      scrollTrigger: {
        trigger: container,
        pin: true,
        invalidateOnRefresh: true,
        start: "top 80px",
        end: "bottom top",
        // markers: true,
        scrub: true,
        // preventOverlaps: true
      },
    });
  });
</script>
