---
import Africa from "../assets/map/africa.png";
import NAmerica from "../assets/map/north_am.png";
import SAmerica from "../assets/map/south_am.png";
import Asia from "../assets/map/asia.png";
import Europe from "../assets/map/europe.png";
import World from "../assets/map/world.png";
import { Image } from "astro:assets";
import { t } from "i18next";
---

<section id="worldwide" class="mt-10 lg:pt-20">
  <div class="mx-auto max-w-5xl px-5 text-[#141392] lg:px-0">
    <h3
      class="title mb-0 text-center text-3xl font-semibold lg:mb-12 lg:text-left lg:text-5xl"
    >
      <div class="line-h3">
        <span class="block">{t("map.title.1")}</span>
      </div>
      <div class="line-h3">
        <span class="block">{t("map.title.2")}</span>
      </div>
    </h3>
    <div>
      <div class="grid gap-10 lg:grid-cols-2">
        <div
          id="image"
          class="relative hidden aspect-[1] self-start overflow-hidden rounded-2xl bg-[#E91E78] lg:block lg:aspect-[9/10]"
        >
          <Image class="absolute h-full w-full" src={Africa} alt="" />
          <Image
            class="absolute h-full w-full object-cover opacity-0"
            src={Asia}
            alt=""
          />
          <Image
            class="absolute h-full w-full object-cover opacity-0"
            src={Europe}
            alt=""
          />
          <Image
            class="absolute h-full w-full object-cover opacity-0"
            src={SAmerica}
            alt=""
          />
          <Image
            class="absolute h-full w-full object-cover opacity-0"
            src={NAmerica}
            alt=""
          />
          <Image
            class="absolute h-full w-full object-cover opacity-0"
            src={World}
            alt=""
          />
        </div>
        <div class="flex flex-col py-4 text-[#141392]">
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#E91E78"
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#E91E78] lg:hidden"
            >
              <Image src={Africa} alt="" />
            </div>
            <h4
              class="mb-5 text-3xl font-bold uppercase text-[#E91E78] lg:mb-8 lg:text-4xl"
            >
              {t("map.africa.title.1")}
              <br class="hidden lg:inline" />
              {t("map.africa.title.2")}
            </h4>
            <p class="mb-2">
              {t("map.africa.desc.1")}
            </p>
            <p class="mb-2">
              {t("map.africa.desc.2")}
            </p>

            <p>
              {t("map.africa.desc.3")}
              <strong>{t("map.africa.desc.4")}</strong>
              {t("map.africa.desc.5")}
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>€24</strong> {t("million")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>56 </strong> {t("countries")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#1FAAAC"
            data-image="https://placehold.co/400x600"
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#1FAAAC] lg:hidden"
            >
              <Image src={Asia} alt="" />
            </div>
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              {t("map.asia.title")}
            </h4>
            <p class="mb-2">
              {t("map.asia.desc.1")}
            </p>
            <p class="mb-2">
              {t("map.asia.desc.2")}
            </p>
            <p>
              {t("map.asia.desc.3")}
              <strong>{t("map.asia.desc.4")}</strong>,
              {t("map.asia.desc.5")}
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>€20</strong> {t("million")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>29</strong> {t("contries")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#E91E78"
            data-image="https://placehold.co/400x600"
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#E91E78] lg:hidden"
            >
              <Image src={Europe} alt="" />
            </div>
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              {t("map.europe.title")}
            </h4>
            <p class="mb-2">
              {t("map.europe.desc.1")}
            </p>
            <p class="mb-2">
              {t("map.europe.desc.2")}
            </p>
            <p>
              <strong>ŠKUC-LL</strong>
              {t("map.europe.desc.3")}
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>€23</strong> {t("million")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>43</strong> {t("countries")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#1FAAAC"
            data-image="https://placehold.co/400x600"
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#1FAAAC] lg:hidden"
            >
              <Image src={SAmerica} alt="" />
            </div>
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              {t("map.latam.title")}
            </h4>
            <p class="mb-2">
              {t("map.latam.desc.1")}
            </p>
            <p class="mb-2">
              {t("map.latam.desc.2")}
            </p>
            <p>
              <strong>NUDE</strong>
              {t("map.latam.desc.3")}
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>€18</strong> {t("million")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>30</strong> {t("countries")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#E91E78"
            data-image="https://placehold.co/400x600"
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#E91E78] lg:hidden"
            >
              <Image src={NAmerica} alt="" />
            </div>
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              {t("map.north.title")}
            </h4>
            <p class="mb-2">
              {t("map.north.desc.1")}
            </p>

            <p class="mb-2">
              <strong>The New Moon Fund</strong>
              {t("map.north.desc.2")}
            </p>

            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>€68</strong> {t("thousand")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"
              ><strong>2</strong> {t("countries")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#1FAAAC"
            data-image="https://placehold.co/400x600"
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#1FAAAC] lg:hidden"
            >
              <Image src={World} alt="" />
            </div>
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              {t("map.trans.title")}
            </h4>
            <p class="mb-2">
              {t("map.trans.desc.1")}
            </p>
            <p class="mb-2">
              {t("map.trans.desc.2")}
            </p>
            <p>
              {t("map.trans.desc.3")}
              <strong>{t("map.trans.desc.4")}</strong>
              {t("map.trans.desc.5")}
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€4</strong> {t("million")}</span
            >
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <!-- <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 flex flex-col text-center lg:mt-20">
      <h3
        class="title mb-5 text-center text-3xl font-semibold lg:mb-10 lg:text-5xl"
      >
        <div class="line-h3">
          <span class="block">{t("celebrate.title.1")}</span>
        </div>
        <div class="line-h3">
          <span class="block">{t("celebrate.title.2")}</span>
        </div>
      </h3>
      <p class="mx-auto mb-2 max-w-prose">
        {t("celebrate.subtitle.1")}
      </p>
      <p class="mx-auto max-w-prose">
        {t("celebrate.subtitle.2")}
      </p>
      <div class="mx-auto mt-10 flex flex-col items-center gap-5 lg:flex-row">
        <a
          onclick={`return gtag_report_conversion('/report.pdf', 'AxppCJmckMoZEM3yi-I9');`}
          href="/report.pdf"
          target="_blank"
          class="rounded-3xl bg-[#E91E78] px-5 py-2 text-sm text-white"
          >{t("celebrate.button.1")}</a
        >
        <a
          onclick={`return gtag_report_conversion('/executive-summary.pdf', 'RwwOCNP97MwZEM3yi-I9');`}
          href="/executive-summary.pdf"
          target="_blank"
          class="rounded-3xl bg-[#141392] px-5 py-2 text-sm text-white"
          >{t("celebrate.button.2")}</a
        >
      </div>
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const container = document.getElementById("worldwide");
  const image = container.querySelector("#image");
  const images = image.querySelectorAll("img");
  const regions = container.querySelectorAll(".region");

  let mm = gsap.matchMedia();

  mm.add("(min-width: 1024px)", () => {
    let regionsHeight = 0;
    regions.forEach((region) => {
      regionsHeight += region.clientHeight;
    });

    ScrollTrigger.create({
      trigger: image,
      start: "top 10%",
      end: () => `+=${regionsHeight}px 80%`,
      pin: true,
    });

    gsap.utils.toArray(regions).forEach((e: HTMLElement, index) => {
      const color = e.dataset.color;
      ScrollTrigger.create({
        trigger: e,
        start: "top 45%",
        end: "bottom 85%",
        // markers: true,
        onEnter: () => {
          gsap.to(image, {
            backgroundColor: color,
          });
          gsap.utils.toArray(images).forEach((img: HTMLImageElement, i) => {
            gsap.to(img, {
              opacity: i == index ? 1 : 0,
            });
          });
        },
        onEnterBack: () => {
          gsap.to(image, {
            backgroundColor: color,
          });
          gsap.utils.toArray(images).forEach((img: HTMLImageElement, i) => {
            gsap.to(img, {
              opacity: i == index ? 1 : 0,
            });
          });
        },
        scrub: 1,
      });
    });
  });
</script>
