---
import { Image } from "astro:assets";
import TestimonyPicture1 from "../assets/testimony-1.png";
import TestimonyPicture2 from "../assets/testimony-2.png";
import TestimonyPicture3 from "../assets/testimony-3.png";
import BackgroundNotebook from "../assets/quote/bg.png";
import Quote from "../assets/quote/quote.png";
import Guide from "../assets/testimony-guide.svg";

const testimonies: [ImageMetadata, string, string][] = [
  [
    TestimonyPicture1,
    "Ida LeBlanc",
    "National Union of Domestic Employees, Trinidad and Tobago",
  ],
  [TestimonyPicture2, "Koyel Ghosh", "Sapho for Equality, India"],
  [TestimonyPicture3, "Rajni Lallah", "Muvman Liberasyon Fam, Mauritius"],
];
---

<section
  class="relative mx-auto mb-12 mt-24 flex flex-col items-center font-display text-[#141392]"
>
  <Image
    class="invisible absolute left-[79%] top-[30%] h-full object-contain lg:visible"
    alt=""
    src={Guide}
  />

  <h2
    class="max-w-[13ch] text-center text-4xl font-semibold lg:max-w-5xl lg:text-left lg:text-7xl"
  >
    Shared Power, Global Impact
  </h2>
  <p class="mt-4 max-w-[92ch] text-center leading-tight">
    For 40 years, Mama Cash has teamed up with hundreds of grantee partners
    worldwide, channelling over €91 million into the hands of individuals,
    groups, and movements driving lasting change. The real lessons come from our
    incredible grantee partners.
  </p>

  <div class="mt-20 max-w-5xl lg:grid lg:grid-cols-3 lg:gap-[60px] lg:px-8">
    {
      testimonies.map(([img, name, role]) => (
        <article class="mb-20 flex flex-col items-center lg:mb-0">
          <Image alt="" src={img} />
          <h3 class="mt-8 text-3xl font-semibold text-[#E91E78]">{name}</h3>
          <p
            class="mt-1 w-full text-center text-sm"
            style={`max-width: ${(role.length * 3) / 4}ch`}
          >
            {role}
          </p>

          <a
            class="mt-4 flex items-center gap-4 rounded-full bg-[#FDB813] py-[6px] pl-4 pr-[4px] text-xs font-semibold text-black"
            href="#"
          >
            Watch testimony
            <svg
              width="37"
              height="36"
              viewBox="0 0 37 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="18.207"
                cy="18"
                r="17"
                stroke="black"
                stroke-width="2"
              />
              <path
                d="M9 18H25"
                stroke="black"
                stroke-width="2"
                stroke-miterlimit="10"
              />
              <path
                d="M17.5 10.5L26.5 18L17.5 26"
                stroke="black"
                stroke-width="2"
                stroke-miterlimit="10"
              />
            </svg>
          </a>
        </article>
      ))
    }
  </div>

  <article
    class="relative isolate mt-24 flex w-full flex-col items-center overflow-hidden lg:grid lg:grid-cols-[1fr_auto_1fr] lg:items-start lg:gap-x-20"
  >
    <Image
      class="absolute -z-10 h-full object-cover"
      alt=""
      src={BackgroundNotebook}
    />

    <div
      class="mt-14 flex aspect-square h-24 items-center justify-center rounded-full bg-[hsl(0,0%,95%)] lg:ml-auto"
    >
      <Image alt="" class="aspect-[68/45] w-3/5" src={Quote} />
    </div>

    <p
      class="mx-auto mt-10 max-w-[38ch] px-6 text-center text-2xl font-medium lg:mt-20 lg:text-4xl"
    >
      By leaving my inheritance to Mama Cash, I feel like I am sustaining our
      family heritage, not through offspring, but by contributing to a better
      world for women and girls. I have no doubt that my inheritance will
      contribute to change for women and girls. I trust Mama Cash completely,
      she puts her money where her mouth is.
    </p>

    <h3
      class="col-start-2 mx-auto mt-9 text-center text-2xl font-semibold text-[#E91E78] lg:text-3xl"
    >
      Sandrine Ulemberg
    </h3>
    <p class="col-start-2 mx-auto mb-20 text-center font-medium uppercase">
      Mama Cash individual donor
    </p>

    <div
      class="col-start-3 row-span-2 row-start-2 hidden aspect-square h-24 items-center justify-center rounded-full bg-[hsl(0,0%,95%)] lg:flex"
    >
      <Image class="aspect-[68/45] w-3/5 -scale-100" alt="" src={Quote} />
    </div>
  </article>
</section>
